/* this not a formeworks */
/* this is simple library only*/
/* created by tofik hidayat */
/* you can modify this line */
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/



@import 'http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'; 
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'ionicons.min.css';
@import 'font-awesome.min.css';



/*-------------internal link-----------*/



@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css'; 
@import 'mixin';

/*this for setting width*/

@for $i from 0 through 100 {
	

	.#{w-}#{$i}
	{
		width: $i + px !important;
	}
	
}

@for $i from 0 through 100 {
	
	.#{w-}#{$i}#{-p}
	{

		width:$i + .0% !important;
	}
	
}


/*this for setting height*/
@for $i from 0 through 100 {
	
	.#{h-}#{$i}#{-p}
	{

		height: $i + .0% !important;
	}
	
}

@for $i from 0 through 100 {
	

	


	.#{h-}#{$i}
	{
		height: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{t-}#{$i}
	{
		top: $i + px !important;
	}
}


@for $i from 0 through 100
{
	.#{r-}#{$i}
	{
		right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{b}#{$i}
	{
		bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{l}#{$i}
	{
		left: $i + px !important;
	}
}







/*this for setting margin*/
@for $i from 0 through 100
{
	.#{m}#{$i}
	{
		margin: $i + px !important;
	}
}




@for $i from 0 through 100
{
	.#{mt-}#{$i}
	{
		margin-top: $i + px !important;
	}
}
@for $i from 0 through 100
{
	.#{mb-}#{$i}
	{
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{ml-}#{$i}
	{
		margin-left: $i + px !important;
	}


}

@for $i from 0 through 100
{
	.#{mr-}#{$i}
	{
		margin-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{my-}#{$i}
	{
		margin-top: $i + px !important;
		margin-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{mx-}#{$i}
	{
		margin-left: $i + px !important;
		margin-right: $i + px !important;
	}
}



/*this for setting padding*/

@for $i from 0 through 100
{
	.#{p-}#{$i}
	{
		padding: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{pt-}#{$i}
	{
		padding-top: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{pb-}#{$i}
	{
		padding-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{pl-}#{$i}
	{
		padding-left: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{pr-}#{$i}
	{
		padding-right: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{py-}#{$i}
	{
		padding-top: $i + px !important;
		padding-bottom: $i + px !important;
	}
}

@for $i from 0 through 100
{
	.#{px-}#{$i}
	{
		padding-left: $i + px !important;
		padding-right: $i + px !important;

	}

}



@for $i from 0 through 10
{
	.#{border-}#{$i}
	{
		@include border($i + px  solid !important );

		
	}
}






@for $i from 0 through 10
{
	.#{br-b-l}#{$i}
	{
		@include border-radius( $i + px !important);
	}
}


@for $i from 0 through 100
{
	.#{br-}#{$i}#{-p}
	{
		@include border-radius($i + .0% !important);
	}
}





@for $i from 0 through 100
{
	.#{br-t-l-}#{$i}
	{
		@include border-top-left-radius($i + px !important);
	}
}





@for $i from 0 through 100
{
	.#{br-b-l-}#{$i}
	{
		@include border-bottom-left-radius( $i + px !important);
	}
}







@for $i from 0 through 100
{
	.#{br-t-r-}#{$i}
	{
		@include border-top-right-radius($i + px !important);
	}
}





@for $i from 0 through 100
{
	.#{br-b-r-}#{$i}
	{
		@include border-bottom-right-radius($i +px !important);
	}
}


/*net element */


.ov-h
{
	@include overflow(hidden !important);
}
.ov-a
{
	@include overflow(auto !important);
}
.ov-v
{
	@include overflow(visible !important);
}
.ov-s
{
	@include overflow(scroll !important);
}


.ov-y-h
{
	@include overflow-y(hidden !important);
}
.ov-y-a
{
	@include overflow-y(auto !important);
}
.ov-y-v
{
	@include overflow-y(visible !important);
}
.ov-y-s
{
	@include overflow-y(scroll !important);
}


.ov-x-h
{
	@include overflow-x(hidden !important);
}
.ov-a
{
	@include overflow-x(auto !important);
}
.ov-v
{
	@include overflow-x(visible !important);
}
.ov-s
{
	@include overflow-x(scroll !important);
}


.bs-bb
{
	@include box-sizing(border-box !important);
}


/*text editing  */

.uppercase
{
	@include text-transform(uppercase !important) ;
}  

.lowwercase
{
	@include text-transform(lowercase );
}

.title
{
	font-size: 16px !important;
}
.sub-title
{
font-size: 14px !important;
}
.pharagraph
{
	font-size: 12px !important;
}
.list-false
{
	list-style: none;
}
.both
{
	clear: both;
}
.td-false
{
	text-decoration: none;
}

